/*-- Start reset --*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

input, button, textarea, select, option {
	font: inherit;
}
/*-- Einde reset --*/

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "arial narrow", arial, helvetica, sans-serif;
	font-size: 1.6rem;
}

button,
label {
	cursor: pointer;
}

input,
button {
	border-radius: 2px;
}

h2 {
	margin: 1em;
	color: #999;
}

.main {
	width: 320px;
	height: 480px;
}

section {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em 0;
	text-align: center;
	width: 100%;
	height: 100%;
	background: #fff;
}

.setup {
	z-index: 1;
}

.feedback {
	z-index: 0;
}



	button {
		margin: 1em;
		border: none;
		padding: 0.5em;
		color: #fff;
		font: inherit;
	}

	button.primary {
		display: inline-block;
		margin-top: 2em;
		margin-bottom: 0;
		border-radius: 5px;
		height: 3em;
		font-size: 2.4rem;
		line-height: 1;
		text-transform: uppercase;
	}

	button.start {
		background: #358822;
	}

	.feedback button.primary {
		margin-top: 0;
		vertical-align: middle;
	}

	button.stop {
		background: #822;
		background: #999;
	}

	button.back,
	button.resume {
		display: none;
	}

	.attendees li {
		position: relative;
		display: inline-block;
		margin: 0.2em;
		overflow: hidden;
	}

	.attendees label,
	.more-attendees-input {
		display: block;
		padding: 0.6em 0;
		width: 2.5em;
		height: 2.5em;
		border: 3px solid #eee;
		border: 3px solid #ccc;
		border-radius: 5px;
		background: #fff;
		text-align: center;
		color: #333;
		font-size: 2.4rem;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-style: italic;
	  font-size: smaller;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  font-style: italic;
	  font-size: smaller;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  font-style: italic;
	  font-size: smaller;
  }

	.no-touch input[type="radio"].active+label,
	.attendees input[type="radio"]:checked+label,
	input[type="text"].more-attendees-input {
		border-color: #333;
		color: #fff;
		background: #333;
	}

	.attendees input[type="radio"] {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	}

	input[type="text"] {
		/*padding: 0.5em 0 0;*/
		border: none;
		border-bottom: 2px solid #ccc;
	}

	input[type="text"].more-attendees-input {
	/*	border:none;
		background: red;*/
	}

	input[type="text"].more-attendees-input.is-empty {
		background: none;
		border-radius: 0;
		border-bottom: 2px solid #ccc;
	}

	.rateholder {
		position: relative;
	}

	.rate label {
		position: relative;
		color: #ccc;
		font-size: 2.4rem;
	}

	.rate label:before {
		position: absolute;
		display: block;
		content: '€';
		top: 0;
		left: -4.2em;
	}

	input.hourlyRate {
		position: relative;
		margin: 0 0.5em;
		width: 4em;
		color: #333;
		font-size: 2.4rem;
		text-align: center;
	}


/*-- Start feedback --*/

	.feedback .costs {
		margin: 1em;
		color: hsl(205,50%,75%);
		color: #248;
	}

	.currency {
		margin: 0.5em;
		color: #ccc;
	}

	.currEuros {
		font-size: 12rem;
	}

	.currCents {
		display: inline-block;
		margin-right: -1.5em;
		font-size: 3.6rem;
		color: #ccc;
	}

	.mainInfo {
		overflow: hidden;
	}

	.metaInfo {
		position: absolute;
		bottom: 0;
		border-top: 1px solid #ddd;
		padding: 1em 0;
		width: 100%;
		text-align: center;
	}

	.attendeesInfo {
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		width: 6em;
		border: 1px solid #ddd;
	}

		.attendeesInfo button {
			display: inline-block;
			border-radius: 0;
			margin: 0;
			padding: 0;
			width: 1.5em;
			height: 1.5em;
			font-size: 3rem;
			vertical-align: middle;
			color: #ccc;
			background: transparent;
			line-height: 0;
		}

		.attendeesInfo .more {
			border-left: 1px solid #ddd;
		}

		.currAttendees {
			border-bottom: 1px solid #ddd;
			font-size: 3.6rem;
			line-height: 1.5;
			color: #ccc;
			vertical-align: middle;
		}

		.currDuration {
			margin: 0 1em;
			color: #ccc;
		}

	/*-- Start larger screens --*/
	@media screen and (min-width: 25em) {

		.metaInfo {
			position: static;
			float: right;
			border: none;
			border-left: 1px solid #ddd;
			height: 100%;
			width: auto;
			text-align: center;
			padding: 1em;
		}

		.attendeesInfo {
			display: block;
		}

		.feedback button.primary {
			margin-top: 2em;
		}

	}

/*-- End feedback --*/